blockquote {
  font-size: .95em;
  background: color(var(--lightColor) alpha(15%));
  border-radius: .4rem;
  border: none;
  font-style: italic;
}

.content {
  background: var(--nearWhite);
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  border-top: .6rem solid var(--secondaryColor);
  box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, 0.25);
}

.content--inner {
  & > *:first-child {
    margin-top: 0;
  }

  &> *:last-child {
    margin-bottom: 0;
  }
}
