.site-header {
  background: var(--primaryColor);
  color: var(--nearWhite);
  padding-top: 1rem;
  padding-bottom: 1rem;

  & a {
    color: var(--nearWhite);
  }
}

.site-title {
  & a {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    line-height: 0;
    color: transparent;
    display: block;
    max-width: 12rem; /*(120px)*/

    &:before {
      content: '';
      display: block;
      padding-bottom: calc(134/320 * 100%);
      background: url('../img/tlc-logo-wht.png') no-repeat center center scroll transparent;
      background-size: 100% auto;
    }
  }
}
